In [2]:
0.1+0.2-0.3

5.551115123125783e-17

In [12]:
mystring="Soumya Brata"
print (mystring[2:-8])

um

In [15]:
"Hello World"[-3]

'r'

In [17]:
a = "3" 
len(a)

1

In [23]:
x="hellO World"
print (x.capitalize())

Hello world

In [24]:
print ("My Name is : {} {} {}".format('Soumya','Brata','Dutta'))

My Name is : Soumya Brata Dutta

In [25]:
print ("My Name is: {fn} {ln}".format(fn='soumya',ln='dutta'))

My Name is: soumya dutta

In [4]:
my_list=[1,2,3]
my_list=['String',100,2.39]
len (my_list)
my_list[1:]

[100, 2.39]

In [6]:
my_list[0]="INTEGER"
my_list

['INTEGER', 100, 2.39]

In [7]:
my_list.append('String')

In [8]:
my_list

['INTEGER', 100, 2.39, 'String']

In [9]:
my_list.pop()
my_list

['INTEGER', 100, 2.39]

In [11]:
new_list=[8,6,10,6,79]
new_list

[8, 6, 10, 6, 79]

In [12]:
new_list.sort()
new_list

[6, 6, 8, 10, 79]

In [17]:
new_list[1:3]

[6, 8]

In [19]:
name="Soumya"
name[1:3]
name[:-1]

'Soumy'

In [27]:
new_list=[1,4,[2,3]]
new_list[2][1]

3

In [28]:
new_list=[1,2,3]
new_list[1:]

[2, 3]

In [31]:
 my_direc={'key1':'Value1','Key2':'V2'}
 my_direc['Key2']

'V2'

In [32]:
prices={'Apple':'2$','Oranges':'199$','Milk':'5$'}
prices['Apple']

'2$'

In [34]:
name="Soumya"
name=name+"Dutta"
name

'SoumyaDutta'

In [36]:
prices.items()

dict_items([('Apple', '2$'), ('Oranges', '199$'), ('Milk', '5$')])

In [39]:
t=(1,2,[3,4])
t[2][1]

4

In [44]:
a=set('Mississippi')
a.add('i')
a=[1,2,3]
a

[1, 2, 3]

In [45]:
True
False

False

In [46]:
1 > 2

False

In [52]:
a=set([1,1,2,3])
a.add("Soumy")
a(4)

TypeError: 'set' object is not callable

In [53]:
pwd

'/Users/soumyabratadutta/MyDocs/PythonScripts'

In [54]:
ls

demo_udemy.ipynb  name.py           untitled3.py

In [57]:
file=open('name.py')

In [61]:
file.read()

'print ("I am Soumya Dutta")\n'

In [68]:
file.seek(0)

0

In [70]:
a=file.readlines()
len(a)
type(a)

list

In [71]:
pwd

'/Users/soumyabratadutta/MyDocs/PythonScripts'

In [72]:
ls

demo_udemy.ipynb  name.py           untitled3.py

In [73]:
with open('untitled3.py')as f:
    contents=f.read()

In [77]:
with open('untitled3.py',mode='a') as f:
    f.write('\nprint ("I am from AEC")')

In [81]:
with open('untitled3.py',mode='r') as f:
    print(f.read())

#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Sun Dec 15 01:03:20 2019

@author: soumyabratadutta
"""

print ("Soumya Dutta")
print ("I am from AEC")
print ("I am from AEC")
print ("I am from AEC")

In [79]:
f

In [80]:
print(f.read())

ValueError: I/O operation on closed file.

In [82]:
with open('untitled3.py',mode='w') as f:
    f.write('print ("This is a MacBook")')

In [85]:
with open('untitled3.py',mode='r') as f:
    print(f.read())

print ("This is a MacBook")print ("This works smoothly")

In [84]:
with open('untitled3.py',mode='a') as f:
    f.write('print ("This works smoothly")')

In [86]:
raw = "g fmnc wms bgblr rpylqjyrc gr zw fylb. rfyrq ufyr amknsrcpq ypc dmp. bmgle grgl zw fylb gq glcddgagclr ylb rfyr'q ufw rfgq rcvr gq qm jmle. sqgle qrpgle.kyicrpylq() gq pcamkkclbcb. lmu ynnjw ml rfc spj."

print(''.join([chr(((ord(s) + 2) - ord('a')) % 26 + ord('a')) if s >= 'a' and s <= 'z' else s for s in raw]))

i hope you didnt translate it by hand. thats what computers are for. doing itin by hand is inefficient and that's why this text is so long. using string.maketrans() is recommended. now apply on the url.

In [87]:
clear

In [88]:
raw = "g fmnc wms bgblr rpylqjyrc gr zw fylb. rfyrq ufyr amknsrcpq ypc dmp. bmgle grgl zw fylb gq glcddgagclr ylb rfyr'q ufw rfgq rcvr gq qm jmle. sqgle qrpgle.kyicrpylq() gq pcamkkclbcb. lmu ynnjw ml rfc spj."

table = str.maketrans(
    "abcdefghijklmnopqrstuvwxyz", "cdefghijklmnopqrstuvwxyzab"
)

result = raw.translate(table)

print(result)

i hope you didnt translate it by hand. thats what computers are for. doing itin by hand is inefficient and that's why this text is so long. using string.maketrans() is recommended. now apply on the url.

In [89]:
d={'key1':'[0,0,0]'} 
list1=d['key1']
list1

'[0,0,0]'

In [91]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [93]:
s=(1,1,3)
s

(1, 1, 3)

In [94]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
a=set(list5)

In [95]:
a

{1, 2, 3, 4, 11, 22, 33}

In [100]:
a="Soumya"
a[::-1]

'aymuoS'

In [101]:
100==1 or 1==1

True

In [102]:
1!=1

False

In [103]:
12!=12

False

In [105]:
if (2==1):
    print ("same")
elif (3==3) :
    print ("same on 2nd ")
else:
    print("Finally in else part")

same on 2nd

In [116]:
list1=[1,2,3,4,5,6,7,8,9,10]
for i in list1:
    if i%2==0:
        print ("The number {0} is Even".format(i))
    else:
        print ("The number {0} is Odd".format(i))

The number 1 is Odd
The number 2 is Even
The number 3 is Odd
The number 4 is Even
The number 5 is Odd
The number 6 is Even
The number 7 is Odd
The number 8 is Even
The number 9 is Odd
The number 10 is Even

In [117]:
sum=0
for i in list1:
    sum=sum+i
print("The sum of the list is {0}".format(sum))

The sum of the list is 55

In [122]:
name="Soumya Brata Dutta"
for i in name:
    print (name[::-1])

attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS
attuD atarB aymuoS

In [135]:
d={'k1':'v1','k2':'v2','k3':'v3'}
for i in d.items():
    print (i)

('k1', 'v1')
('k2', 'v2')
('k3', 'v3')

In [136]:
b=(10,13,15)
type(b)

tuple

In [137]:
for i in b:
    print (i)

10
13
15

In [146]:
x=0
factorial=1
while x>0:
    factorial=factorial*x
    x=x-1
    #print (x)
else:
    print("{0} is zero".format(x))

0 is zero

In [147]:
for i in range(1,10,2):
    print (i)

1
3
5
7
9

In [151]:
from random import shuffle

my_list=[1,2,3,4,5,6,7,8,9,10]
shuffle(my_list)
my_list

[2, 3, 4, 10, 8, 5, 6, 1, 9, 7]

In [153]:
name=input("What is your name:")
print ("The length of your name is {0} ".format(len(name)))

What is your name: henna

The length of your name is 5

In [154]:
x=int(input("enter number"))
type(x)

enter number 10

int

In [155]:
mylist=[x**2 for x in range(0,10,1)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [156]:
3 in (1,3)

True

In [161]:
celcius=[10,20,30,40]
#farenhite=[(9/5)*temp +32 for temp in celcius]
#farenhite
f2=[]
for i in celcius:
    f2.append((9/5)*i+32)
    
f2

[50.0, 68.0, 86.0, 104.0]

In [180]:
st = 'Print only the words that start with s in this sentence'
st=st.lower()
print (st)
count=0
for i in st:
    if (i==" "):
        count +=1
print ("The number of space are {0}".format(count))   
word_list=st.split()
list_s=[]
for i in word_list:
    if (i.startswith('s')):
        list_s.append(i)
print (list_s)  
for i in word_list:
    string=i
    for j in string:
        if j=='s':
            print (i)
            break
        else:
            break

print only the words that start with s in this sentence
The number of space are 10
['start', 's', 'sentence']
start
s
sentence

In [183]:
for i in range (0,10,1):
    if (i%2==0):
        print (i)

0
2
4
6
8

In [189]:
list1= [xyz for xyz in range (1,50,1) if(xyz%3==0)]
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [210]:
st = 'Print every word in this sentence that has an even number of letters'
list_word=st.split()
list_word1=[]
for ixx in list_word:
    length=len(ixx)
    #print (length)
    if (length%2==0):
        list_word1.append(ixx)
        print ("Even")
#list_word1

Even
Even
Even
Even
Even
Even
Even
Even
Even

In [212]:
for i in range (1,100,1):
    if (i%3==0 and i%5==0):
        print ("{} is FizzBuzz".format(i))
    elif (i%3==0):
        print ("{} is Fizz".format(i))
    elif (i%5==0):
        print ("{} is Buzz".format(i))

3 is Fizz
5 is Buzz
6 is Fizz
9 is Fizz
10 is Buzz
12 is Fizz
15 is FizzBuzz
18 is Fizz
20 is Buzz
21 is Fizz
24 is Fizz
25 is Buzz
27 is Fizz
30 is FizzBuzz
33 is Fizz
35 is Buzz
36 is Fizz
39 is Fizz
40 is Buzz
42 is Fizz
45 is FizzBuzz
48 is Fizz
50 is Buzz
51 is Fizz
54 is Fizz
55 is Buzz
57 is Fizz
60 is FizzBuzz
63 is Fizz
65 is Buzz
66 is Fizz
69 is Fizz
70 is Buzz
72 is Fizz
75 is FizzBuzz
78 is Fizz
80 is Buzz
81 is Fizz
84 is Fizz
85 is Buzz
87 is Fizz
90 is FizzBuzz
93 is Fizz
95 is Buzz
96 is Fizz
99 is Fizz

In [214]:
st = 'Create a list of the first letters of every word in this string'
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [16]:
x=371
count=0
num=x
num1=x
#print (num)
while num>0:
    count = count + 1
    num=int (num/10)
#print (count)
s=0
pallindrome=1
while num1>0:
    rem=int (num1%10)
    for i in range (1,count+1,1):
        pallindrome=pallindrome*rem
    s=s+pallindrome
    pallindrome=1
    num1=int(num1/10)
if (s==x):
    print("Amstrong")
else:
    print ("Amstrong")

Pallindrome

In [4]:
def name_function():
    '''
    DOCSTRING: Author Soumya
    '''
    print('Hello')
name_function()

Hello

In [5]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Author Soumya

In [20]:
s="String"
s[0]

'S'

In [34]:
def piglatin(word):
    result=word[0] in 'aeiou'
    if result==True:
        
        new_word=word+"ay"
        
    else:
        
        new_word=word[1:]+word[0]+"ay"
    return new_word    
piglatin("apple")        
#print (new_word)

'appleay'

In [38]:
def myfunc(name):
    print ("Hello {} ".format(name))
myfunc('soumya')

Hello soumya

In [39]:
def myfunc(x,y,z):
    if (z==True):
        return x
    else:
        return y
myfunc('True',1,0)

1

In [40]:
def even(a):
    return a%2==0
even(6)

True

In [46]:
def addition(*args):
    return sum(args)
addition(10,20,30)

60

In [60]:
def n_even(*args):
    list1=[]
    for i in range(0,len(args),1):
        if (args[i]%2==0):
                list1.append(args[i])
    return list1    
        
                
         
n_even(5,6,7,8)

[6, 8]

In [12]:
def myfunc(args):
    index=0
    new_string=""
    for x in args:
        if (index%2==0):
            new_string=new_string+x.upper()
            index +=1
        else:
            new_string=new_string+x.lower()
            index +=1
    
    return new_string
myfunc('Soumya Dutta')

'SoUmYa dUtTa'

In [64]:
str="Soumya"
str[0].upper

'S'

In [7]:
def myfunc(args):
    list1=[]
    for x in range(0,len(args),1):
        if (x%2==0):
            #print ("{0} Even".format(args[x]))
            list1.append(args[x])
        else:
            #print ("{0} Odd".format(args[x]))
            list1.append(args[x])
    
    return list1
list2=[myfunc('Soumya Dutta')]

In [11]:
def foo(s):
    ret = ""
    i = True  # capitalize
    for x in s:
        if i:
            ret += x.upper()
        else:
            ret += x.lower()
        if x != ' ':
            i = not i
    return ret
foo("soumya dutta")

'SoUmYa DuTtA'

In [9]:
def myfunc(args):
    index=0
    new_string=""
    for x in args:
        
        
    
    
myfunc('Soumya Dutta')

S
o
u
m
y
a

D
u
t
t
a

In [2]:
def less(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            return a
        else:
            return b
    elif a%2==0 or b%2==0:
        if a>b:
            return a
        else:
            return b
less (2,5)

5

In [6]:
def com_str(a):
    list1=a.split()
    x=list1[0][0]
    y=list1[1][0]
    if x==y:
        return True
    else:
        return False
    
com_str("Soumya Srata")

True

In [13]:
def check_twenty(a,b):
    if a==20 or b==20:
        return True
    elif a+b==20:
        return True
    else:
        return False
check_twenty(12,8)

True

In [19]:
def macdonald(st):
    new_str=""
    index=0
    for i in st:
        if index==0:
            new_str=new_str+i.upper()
            index +=1
        elif index==3:
            new_str=new_str+i.upper()
            index +=1
        else:
            new_str=new_str+i
            index +=1
    print (new_str)        
macdonald('macdonald')

MacDonald

In [35]:
def rev_sen(st):
    list1=st.split()
    list2=[]
    index=0
    index1=-1
    for i in list1:
        list1[index]=i[::-1]
        list2.append(list1[index1])
        index1 =index1 + (-1)
        index +=1
    return list2
rev_sen('I am a good boy')

5

['boy', 'good', 'a', 'ma', 'I']

In [31]:
l=['soumya','bubai']
l[-1]

'bubai'

In [38]:
def nearten(a):
    if a-100<10:
        return True
    elif 100-a<10:
        return True
    elif a-100>-10:
        return True
    elif 100-a>-10:
        return True
    if a-200<10:
        return True
    elif 200-a<10:
        return True
    elif a-200>-10:
        return True
    elif 200-a>-10:
        return True
nearten(114)

True

In [40]:
def check(l1):
    flag=1
    x=0
    for i in l1:
        if x==i:
            flag=0
            break
        x=i    
    if flag==0:
        return True
    else:
        return False
check([3,1,3])

False

In [42]:
def addthree(st):
    st1=""
    for i in st:
        st1=st1+i+i+i
    return st1
addthree('Hello')

'HHHeeellllllooo'

In [45]:
def blackjack(a,b,c):
    if a<=11 and b<=11 and c<=11:
        add=a+b+c
        if add<=21:
            return add
        elif a==11 or b==11 or c==11:
            return add-10
        else:
            return "BUST"
blackjack(5,6,7)

18

In [53]:
def summer_69(arr):
    flag=0
    add=0
    for i in arr:
        if (i==6):
            flag=1            
            continue
        elif (flag==1 and i==9):
            flag=0
            continue
        elif flag==0:
            add=add+i
    return add       
summer_69([2, 1, 6, 7,8])

3

In [57]:
def spy_game(l2):
    flag=0
    james=""
    for i in l2:
        if i==0 or i==7:
            james=james+str(i)
            if james=='007':
                flag=1
                break
    if (flag==1):
        return True
    else:
        return False
spy_game([1,0,2,0,7,7])

True

In [64]:
def prime_range(a):
    count =0
    for i in range(2,a,1):
        flag=0
        for j in range(2,i,1):
            
            if i%j==0:
                flag=1
                break
        if (flag==0):
                count +=1
    return count
prime_range(100)

25